body {
  font-size: 17px;
  line-height: 1.4;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
/* start of nav */
#menunav {
  height: 50px;
  background: rgba(15, 15, 15, 0.855);
  backdrop-filter: blur(20px);
  position: fixed;
  width: 100%;

  display: flex;
  z-index: 999;
}
#navbarlarge {
  display: none;
}
#navbarsmall {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#navbarsmall a {
  opacity: 80%;
}
#shopcarticon {
  height: 52px;
  width: 52px;
  position: relative;
  top: -23px;

  margin-top: 15px;
  margin-bottom: -35px;
  padding-top: -23px;
}
#menuicon {
  height: 22px;
  width: 22px;
}
#logoicon {
  width: 22px;
}
/* end of nav */
#iphone12section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: url(mainbackgroundsmall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  position: relative;
  top: 50px;
}
#iphone12section p,
#iphone12section h2,
#iphone12section h3 {
  display: flex;
  flex-direction: column;
}
#iphone12section p {
  font-size: 14px;
  text-align: center;
  width: 80%;
  display: inline-block;
}
#iphone12section a {
  text-decoration: none;
  color: rgb(68, 163, 223);
}
#iphone12section h2 {
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 0px;
}
#iphone12section h3 {
  font-size: 1.2em;
  margin-top: 0px;
  font-weight: 100;
}
#iphone12section p:nth-of-type(2) {
  font-size: 0.9em;
  margin-top: -10px;
  font-weight: 400;
  width: 60%;
  opacity: 80%;
}
#iphone12section div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
/* end of iphone section */
#iphone12prosection {
  background: url(iphoneprosmall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
#iphone12prosection h2,
#ipadprosection h2 {
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 0px;
  color: white;
  padding-top: 30px;
}
#iphone12prosection h3,
#ipadprosection h3 {
  font-size: 1.2em;
  margin-top: 0px;
  font-weight: 100;
  color: white;
}
#iphone12prosection p,
#ipadprosection p {
  font-size: 14px;
  text-align: center;
  width: 70%;
  color: gray;
  margin-top: 0px;
  display: inline-block;
}
#iphone12prosection a,
#ipadprosection a {
  text-decoration: none;
  color: rgb(68, 163, 223);
}
#ipadprosection {
  background: url(ipadprosmall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 15px;
}
.taepercent {
  text-decoration: underline;
  font-weight: bold;
  display: inline;
}
#iphone12prosection div,
#ipadprosection div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.cubes {
  display: none;
}

@media screen and (min-width: 610px) {
  #menunav {
    height: 45px;
  }

  #navbarsmall {
    display: none;
  }
  #navbarlarge {
    display: flex;

    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
  #navbarlarge a {
    font-size: 13px;
    opacity: 80%;
    color: white;
    text-decoration: none;
  }
  #navbarlarge a:hover {
    opacity: 100%;
  }
  #navbarlarge li {
    display: inline;
  }
  #logoicon {
    width: 16px;
    margin-left: -15px;
  }
  #searchicon {
    width: 17px;
    filter: invert(100%);
    margin-top: 5px;
  }
  #shopcarticon {
    width: 17px;
    padding-right: 25px;
  }
  /* end of navbar large*/
  #iphone12section {
    background: url(mainbackgroundlarge.jpg);
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #iphone12section div,
  #iphone12prosection div,
  #ipadprosection div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
  }
  #iphone12section h2,
  #iphone12prosection h2,
  #ipadprosection h2 {
    font-size: 2.5em;
    padding-top: 50px;
  }
  #iphone12section h3,
  #iphone12prosection h3,
  #ipadprosection h3 {
    font-size: 1.5em;
    font-weight: 400;
  }
  #iphone12section a,
  #iphone12prosection a,
  #ipadprosection a {
    font-weight: 400;
    font-size: 1.1em;
    opacity: 100%;
  }
  #iphone12section p:nth-of-type(2),
  #iphone12prosection p:nth-of-type(1),
  #ipadprosection p:nth-of-type(1) {
    font-size: 1.1em;
    width: 85%;
  }
  #iphone12prosection {
    background: url(iphoneprolarge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 65px;
    height: 700px;
  }
  #iphone12prosection div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
  }
  #ipadprosection {
    background: url(ipadprolarge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 25px;
    height: 700px;
  }
  /* cubessss */
  .cubes {
    display: block;

    margin-top: 25px;

    height: 700px;
  }
  .cuberow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    align-self: center;
  }
  .cubecolumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #ios15,
  #watchos8,
  #ipados15,
  #macos {
    margin-top: 25px;
    width: 48%;
    height: 470px;
  }

  #ios15 {
    background: url(ios15.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #watchos8 {
    background: url(watchos8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #ipados15 {
    background: url(ipados15.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #macos {
    background: url(macos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #ios15 p,
  #watchos8 p,
  #ipados15 p,
  #macos p {
    font-size: 20px;
    text-align: center;
    width: 80%;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #ios15 a,
  #watchos8 a,
  #ipados15 a,
  #macos a {
    text-decoration: none;
    color: rgb(68, 163, 223);
  }
  #ios15 h2,
  #watchos8 h2,
  #ipados15 h2,
  #macos h2 {
    font-size: 2em;
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
    font-weight: 500;
  }
}
